<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>alo</title>
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/angular-material/angular-material.css' />
    <link rel='stylesheet' href='bower_components/perfect-scrollbar/css/perfect-scrollbar.css' />
    <link rel='stylesheet' href='bower_components/fullcalendar/dist/fullcalendar.css' />
    <link rel='stylesheet' href='bower_components/datatables/media/css/jquery.dataTables.css' />
    <link rel='stylesheet' href='bower_components/angular-material-icons/angular-material-icons.css' />
    <link rel='stylesheet' href='bower_components/angular-material-data-table/dist/md-data-table.css' />
    <link rel='stylesheet' href='bower_components/nvd3/build/nv.d3.css' />

    <!-- endbower -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- injector:css -->
    <!-- endinjector -->
    <!-- endbuild -->
</head>
<body  ng-controller="myController">
<div layout="row" layout-wrap="">
    <div flex="100" ng-repeat="student in students">{{student.name}}</div>
</div>

<div id="main" ui-view layout="column"></div>
</body>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- build:js({client,node_modules}) app/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
<script src="bower_components/mobile-detect/mobile-detect.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-socket-io/socket.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
<script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="bower_components/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/nvd3/build/nv.d3.js"></script>
<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<script src="bower_components/socket.io/lib/socket.js"></script>
<script src="bower_components/angular-socket-io/socket.js"></script>
<script src="bower_components/socket.io-client/dist/socket.io.min.js"></script>

<!-- injector:js -->
<script src="app/service/socket.service.js"></script>
<script src="app/app.js"></script>
<script src="app/route.js"></script>
<script src="app/directive/keyPress/keyPress.js"></script>
<!-- endinjector -->

<!-- injector module:js -->
<script src="app/module/home/homeController.js"></script>
<script src="app/module/example/example.js"></script>
<script src="app/student/student.js"></script>
<script src="app/module/chat/chatController.js"></script>
<script src="app/module/level/level.controller.js"></script>
<!-- endinjector module-->
</html>