<div layout="row" layout-align="center center">
    <div flex="50" layout="row" style="height: 100px" layout-align="center center">
      <div flex="10"> <ng-md-icon icon="facebook-messenger" style="fill:red" size="50"> </ng-md-icon></div>
        <div flex="90" style="font-size: 36px" layout="row" layout-align="left center">Chat Room</div>
    </div>
</div>
<div layout="row" layout-align="center center">
    <div layout="column" flex =50>
        <div flex="100" ng-repeat="message in messages track by $index" style="border-bottom-color: #bababa; margin-top: 5px" >
           <ng-md-icon icon="account_circle" style="fill:blue" ></ng-md-icon>{{message.acount}} : {{message.message}}
        </div>
    </div>
</div>
<div layout="row" layout-align="center center">
    <div flex="50" layout="row">
        <div flex="70" layout="row">
            <md-input-container flex="100">
                <label>Input messages</label>
                <input  style="width: 100%" ng-model="data" my-enter="sentMessage({message:data,acount:acount})">
            </md-input-container>
        </div>
        <div flex="10">
            <md-button class="md-raised md-primary" ng-click="sentMessage({message:data,acount:acount})">sent<ng-md-icon icon="send" ></ng-md-icon></md-button>
        </div>
    </div>
</div>
<div layout="row"  layout-align="center center">
    <div flex="50" layout="row">
        <div flex="30">

            <md-input-container flex="100">
                <label> <ng-md-icon icon="account_box" style="fill:blue"></ng-md-icon> Set Acount</label>
                <input  style="width: 100%" ng-model="acount">
            </md-input-container>
        </div>
        <div flex="70">
            <md-button class="md-raised md-warn" ng-click="clearData()">clear history</md-button>
        </div>
    </div>

</div>
