<div layout="row" layout-wrap="">
    <div flex="100" ng-repeat="level in levels">{{level.name}}
        <md-button ng-click="deleteLevel(level._id)">delete</md-button>
    </div>
    <div ng-bind="status"></div>
</div>

<div>
    <input ng-model="name">

</div>
<md-button ng-click="createLevel()">createLevel</md-button>
<div>
    {{statusPost}}
</div>